{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "dot-location": ["error", "object"],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-filename-extension": ["error", { "extensions": [".jsx.js", ".js"] }],
    }
}
